@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;0,900;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --playfair : 'Playfair Display', serif;
    --quicksand: 'Quicksand', sans-serif;
    --roboto:'Roboto', sans-serif;
    --dark: #3c393d;
    --exdark: #2b2b2b;
}
*
{
    padding: 0;
    margin: 0;
    font-family: var(--quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
    height: 350px;
}
.container
{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/banner-bg.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar
{
    background: rgba(0, 0, 0, 0.6);
    padding: .5rem;
}
.navbar-brand
{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--playfair);
    letter-spacing: 1px;
}

.navbar-nav
{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.navbar-nav a
{
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--roboto);
    letter-spacing: 3px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    transition: opacity 0.5s ease;
}
.banner
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title
{
    font-size: 2.5rem;
    font-family: var(--playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--playfair);
}
.banner p
{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--roboto);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form
{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder
{
    text-transform: capitalize;
}

.search-btn
{
    width: 40px;
    font-size: 1.3rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}
/* end of header*/

/* latest blog  */

.blog
{
    background: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-content
{
    margin: 1rem 0;
}
.blog-img
{
    position: relative;
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exdark);
    color: #fff;
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
}
.blog-txt{
    margin: 1.5rem;
    padding: 0 .6rem;
    text-align: center;
}    
.blog-txt span{
    font-weight: 300;
    display: block;
}

.blog-txt h2{
    font-family: var(--playfair);
    padding: .7rem 0;
    font-size: 1.35rem;
    font-weight: 500;
}
.blog-txt a{
    font-family: var(--roboto);
    font-size: .9rem;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background: var(--dark);
    padding: 0.55rem 1.2rem;
    transition: all 0.5rem ease;
}
.blog-txt a:hover
{
    background: var(--exdark);
}

/* end of latest blogs   */

/* design  */

.design
{
    padding: 4.5rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--playfair);
    font-size: 2.4rem;
}
.title p 
{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.content{
    margin: 2rem 0;
}
.items
{
    cursor: pointer;
    margin: 1.5rem 0;
}
.img
{
    position: relative;
    overflow: hidden;
}
.img::after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.img img
{
    transition: all 0.5s ease;
}
.items:hover img
{
    transform: scale(1.2);
}
.img span:first-of-type
{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exdark);
    color: #fff;
    padding: 0.25rem 1rem;
}

.img span:last-of-type
{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.title a {
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--playfair);
}

/* end of design  */

/* about  */

.about{
    padding: 1rem;
}
.about-txt
{
    margin: .5rem 0;
}
.about-txt > p{
    font-size: 1.1rem;
    padding: 0.2rem 0;
    opacity: 0.8;

}
.about-content img{
    height: 550px;
}

/* end of about  */
/* footer  */

footer
{
    background: var(--exdark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links
{
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;
}
.social-links a
{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all  0.5s ease;
}
.social-links a:hover
{
    background: #fff;
    color: var(--exdark);
}

.footer span
{
    margin-top: 1rem;
    display: block;
    font-family: var(--playfair);
    letter-spacing: 1px;
}

/* end of footer  */

/* media queries */
@media screen and (max-width: 375px)
{
    .banner form
    {
        padding: 0 1.2rem;
        margin-bottom: 1rem;
    }
    .navbar-nav
    {
        display: flex;
        flex-direction: column;
    }

    .banner-title
    {
        font-size: 2.3rem;
    }
    .banner p 
    {
        font-size: .9rem;
    }
    .search-input::placeholder
    {
        font-size: .78rem;
    }
}

@media screen and (min-width: 540px) {
    .navbar-nav a {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title
    {
        font-size: 3rem;
    }
    .banner form
    {
        margin-top: 1rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

}
@media screen and (min-width: 768px) {
    .search-input
    {
        padding: 0.8rem 0;
    }
    .content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .items
    {
        margin: 0;
    }
    .blog-content
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}    

@media screen and (min-width: 992px)
{
    .blog-content
    {
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .content
    {
        grid-template-columns: repeat(3,1fr);
    }
}